# -------------------------------
# HTTP requests
# -------------------------------
requests==2.32.3

# -------------------------------
# XML parsing for NFO
# -------------------------------
lxml==5.3.0

# -------------------------------
# Plex API
# -------------------------------
PlexAPI==4.15.16

# -------------------------------
# Folder watching (optional)
# -------------------------------
watchdog==2.3.1
